#cafemenu {
  display:none !important; /* 카페 메뉴 숨김 */
}
#content {
  margin-left:0px !important;
  margin-right:0px !important;
}
.kakao_ad_area, .bbs_tit_g .tit_info .desc_item, #footer {
  display:none !important;
}
#bizBoardAd, #mAside, #ad_wrapper {
  display:none !important;
}